.home-container {
    padding: 5px;
  }

  body {
    overflow-x: hidden;
  }
  
  .home-header h1 {
    font-size: 5vw; /* Smaller font size for headings on mobile */
    padding: 0 10px; /* Add padding to ensure text doesn't touch the edges */
  }
  
  .carousel .slide img {
    width: 70%; /* Ensure images scale properly */
    height: auto; /* Maintain aspect ratio */
  }
  
  .carousel .carousel-status {
    display: none; /* Hide the status counter, optional */
  }
  
  .home-about p {
    font-size: 1vw; /* Slightly smaller font for mobile readability */
    padding: 0 25px; /* Padding to prevent text from touching the edges */
  }
  
  .home-hours {
    text-align: center;
    padding: 0px;
    margin-bottom: 30px;
  }
  
  .hours-list {
    list-style: none;
    padding: 0;
  }
  
  .hours-list li {
    margin-bottom: 10px;
  }  
  .p {
    text-indent: 40px; /* Adjust the value to suit your design */
  }

  .map-container {
    background: lightgray;
    padding: 5% 0; /* Reduce padding */
    width: 100%;
  }

  @media (max-width: 768px) {
    .home-container {
        padding: 5px; /* More padding on smaller devices for better touch targets */
    }
    .home-about p {
      font-size: 3vw; /* Slightly smaller font for mobile readability */
      padding: 10px 10px; /* Padding to prevent text from touching the edges */
    }
    .home-container {
      transform: scale(0.7); /* Scale down content to 90% */
      transform-origin: top ; /* Set origin to top left for better scaling */
    }
  }
