.side-panel {
    position: relative;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #f0f0f0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.side-panel.open {
    transform: translateX(0);
}

.toggle-button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 50px; /* Adjust height as needed */
    position: absolute; /* Positioning relative to side-panel */
    top: 0; /* Adjust as needed */
    right: 0; /* Adjust as needed */
    width: 100%; /* Full width of side-panel */
}

.toggle-button {
    position: absolute;
    border: none;
    color: white;
    border-radius: 50%;
    top: 10px;
    right: -50px;  
    background: #646cff;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}


.links {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.side-panel a {
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
}

.side-panel-footer {
    position: absolute;
    bottom: 5%; /* Adjust the space from the bottom as needed */
    width: 100%;
    padding: 10px;
}

.side-panel-footer button,
.side-panel-footer a {
    padding: 10px;
    display: flex;
    flex-direction: column;
}