#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.LoginButton {
  position: absolute;
  top: 20px;
  right: 20px;
  /* Add more styling to make it look like a button */
}

.HomeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  /* Add more styling to make it look like a button */
}
