#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.LoginButton, .HomeButton {
  position: absolute;
  top: 20px;
  padding: 10px 20px;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.LoginButton {
  left: 5%; /* Adjust this value based on your layout */
}

.HomeButton {
  right: 5%;
}
