#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.App {
  display: flex;
  width: 100%;
}

.side-panel {
  width: 20%;
  min-width: 200px;
  background-color: #f0f0f0;
  opacity: 70%;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.side-panel a {
  margin: 10px 0;
  color: #333;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  padding: 100px;
  transition: margin-left 0.3s ease;
}

.content-shift {
  margin-left: 200px; /* Adjust this value based on the side panel width */
}

.LoginButton, .HomeButton {
  margin-top: auto;  /* Moves login/logout to the bottom of the side panel */
}

